#Header
{
    display:table;
    width: 100%;
}
h1
{
    display: table-cell;
    color: olivedrab;
    text-align: center;
    margin-right: auto;
}
#Logo
{
    display: table-cell;
    height: 150px;
    width: 200px;
    padding:10px;
}
#Logo img
{
    width: 100%;
    height: auto;
}
#NavBar li
{
    display: inline-block;
    color: olivedrab;
    font-size: 23px;
    padding-left: 75px;
    padding-right: 75px;
}
#NavBar
{
    border: 2px solid olivedrab;
}
#NavBar li:hover
{
    color: orange;
}
#Title
{
    position: relative;
    top: -70px;
}
.products
{
    height: 450px;
    text-align: center;
}
.tile
{
    height: 400px;
    width: 300px;
    display:inline-block;
    margin: 50px;
}
.tile .productImage
{
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-width: 5px;
    border-style: solid;
    border-color: olivedrab;
    border-radius: 25px;

}
.tile .productImage img
{
    height: 100%;
    width: 100%;

}
.BuyButton
{
    color:olivedrab;
    text-decoration: none;
}
.BuyButton:hover
{
    color:orange;
}
#productsLine2 .tile
{
    margin-top: 15px;
}